@*@page "/AddVacation"
@inherits RazorPageBases.AddVacationBase;
@attribute [Authorize(Roles = "Employee")]

<h3>Add Vacation</h3>

<EditForm Model="@vacation" OnValidSubmit="@AddVacation">
    <VacationFields vacationDays="@vacation"></VacationFields>
    <p></p>
    <button type="submit" class="btn btn-success">
        <span class="oi oi-plus"></span>
        Add Vacation
    </button>
    <button type="button" class="btn btn-secondary" @onclick="Close">
        <span class="oi oi-media-skip-backward"></span>
        Close
    </button>
</EditForm>

<NotificationDialog @ref="NotificationDialog" Description="@ConcatenatedValidationErrors"></NotificationDialog>*@

