@page "/ChangePassword"
@inherits RazorPageBases.ChangePasswordBase;
<h3>Change Password</h3>

<EditForm Model="@password" OnValidSubmit="@ChangePasswordAsync">
    <PasswordFields password="@password"></PasswordFields>
    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Edit" Style="margin-right:10px;" Size="Size.Medium">Change Password</MudButton>
</EditForm>

@if(showAlert)
{
    <MudAlert Severity="Severity.Success" CloseIconClicked="(()=> CloseAlert(true))" ShowCloseIcon="true" Style="width:40%;">Password changed successfully!</MudAlert>
}
