<div class="UserFields">
    <label for="oldPassword">Old Password</label>
    <InputText id="oldPassword" type="password" @bind-Value="@password.OldPassword" class="form-control" style="width:40%;"></InputText>

    <label for="newPassword">New Password</label>
    <InputText id="newPassword" type="password" @bind-Value="@password.NewPassword" class="form-control" style="width:40%;"></InputText>

    <label for="confirmPassword">Confirm Password</label>
    <InputText id="confirmPassword" type="password" @bind-Value="@password.ConfirmPassword" class="form-control" style="width:40%;"></InputText>

    <p></p>
</div>

@code {
    [Parameter]
    public Password password { get; set; }
}
