@page "/login"

@*Zaglavlje interfacea*@
<div>
	<div class="card">
		<div class="rounded float-sm-start img-thumbnail">
		</div>
		<div class="mb-3">
			 <label for="formFile" class="form-label"></label>
			 <input class="form-control" type="file" id="formFile"/>

		</div>
		<div class="card-body">
			<h5>Ime i prezime</h5>
			<p>Pozicija u firmi</p>
			<p class="card-text">Preostalih dana prošle godine</p>
			<p class="card-text">Preostalih dana ove godine</p>
			<a href="" class="btn btn-primary disabled placeholder-glow col-1"></a>
		</div>
		
	</div>

	
</div>


@code {


}