<div class="vacationFields">
    <label for="vacationFrom">Vacation From</label>
    <InputDate id="vacationFrom" @bind-Value="@vacationDays.VacationFrom" class="form-control"></InputDate>

    <label for="vacationTo">Vacation From</label>
    <InputDate id="vacationTo" @bind-Value="@vacationDays.VacationTo" class="form-control"></InputDate>
</div>

@code {
    [Parameter]
    public Vacation vacationDays { get; set; }
}