@inject NavigationManager _navigationManager;
@inherits RazorPageBases.LoginPageBase;

<div class="row-container m-2">
	<AuthorizeView>
		<Authorized>
			<button class="btn btn-info" @onclick="LogOut">Log Out</button>
		</Authorized>
		<NotAuthorized>
			<button class="btn btn-info" @onclick="NavigateToLoginPage">Log In</button>
		</NotAuthorized>
	</AuthorizeView>
</div>



@code {
	private void NavigateToLoginPage()
	{
		_navigationManager.NavigateTo("/LoginPage");
	}
}
