@using MudBlazor
@inherits LayoutComponentBase

<PageTitle>Vacation Managment System</PageTitle>
<MudThemeProvider/>
<MudDialogProvider CloseButton="true" CloseOnEscapeKey="true"/>
<MudSnackbarProvider/>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <LogSignInBtn></LogSignInBtn>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
